.gridMediumLevel{
  display: grid;
  grid-template-columns: 100px repeat(4, 100px) 100px;
  width: 100%;
  height: 100%;
  justify-content: center;
  
}

.ResetButtonMedium{ 
  float: right;
  margin-right: 12rem;
  margin-top: -2rem;
  .NewGame{
    background: #01b3f5;
    /*
  background-image: -webkit-linear-gradient(top, #ecd137, #2980b9);
  background-image: -moz-linear-gradient(top, #ecd137, #2980b9);
  background-image: -ms-linear-gradient(top, #ecd137, #2980b9);
  background-image: -o-linear-gradient(top, #ecd137, #2980b9);
  background-image: linear-gradient(to bottom, #ecd137, #2980b9);
  */
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #383838;
    color: #000000;
    font-size: 1rem;
    padding: 4px 8px 8px 10px;
    border: solid #000000 2px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;

    width: 140px;
    height: 50px;

    margin-bottom: 2rem;
    //posicionar conteúdo no meio
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .NewGame:hover{
    background: #01b3f5;
    background-image: -webkit-linear-gradient(top, #01b3f5,#fdb800);
    background-image: -moz-linear-gradient(top, #01b3f5, #fdb800);
    background-image: -ms-linear-gradient(top, #01b3f5, #fdb800);
    background-image: -o-linear-gradient(top, #01b3f5, #fdb800);
    background-image: linear-gradient(to bottom, #01b3f5, #fdb800);
    text-decoration: none;

    transition: 1s ease;
  }
}

.SelectAnotherLevelMedium{
  float: right;
  margin-top: -2rem;
  margin-right: 4rem;

  .ChangeLevel{
    background: #fdb800;
        /*
        background-image: -webkit-linear-gradient(top, #ecd137, #2980b9);
        background-image: -moz-linear-gradient(top, #ecd137, #2980b9);
        background-image: -ms-linear-gradient(top, #ecd137, #2980b9);
        background-image: -o-linear-gradient(top, #ecd137, #2980b9);
        background-image: linear-gradient(to bottom, #ecd137, #2980b9);
        */
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        text-shadow: 1px 1px 3px #383838;
        color: #000000;
        font-size: 1rem;
        padding: 4px 8px 8px 10px;
        border: solid #000000 2px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;

        width: 140px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
  }

  .ChangeLevel:hover{
        background: #fdb800;
        background-image: -webkit-linear-gradient(top, #fdb800, #01b3f5);
        background-image: -moz-linear-gradient(top, #fdb800, #01b3f5);
        background-image: -ms-linear-gradient(top, #fdb800, #01b3f5);
        background-image: -o-linear-gradient(top, #fdb800, #01b3f5);
        background-image: linear-gradient(to bottom, #fdb800, #01b3f5);
        text-decoration: none;

        transition: 1s ease;
  }

}